<h1>Listing</h1>
<div class="row">
  <div class="col-md-6">
    <app-form-user (userSubmitted)="checkUser($event)"></app-form-user>
    <p>{{ myDate | fromNow }}</p>
  </div>
  <div class="col-md-6">
    <app-alert [message]="'User added successfully!'" [clazz]="'alert-success'" *ngIf="isAdded"></app-alert>
    <app-alert [message]="'Cannot add user!'" [clazz]="'alert-danger'" *ngIf="isErrored"></app-alert>
    <app-users [users]="users"></app-users>
  </div>
</div>
