<form (ngSubmit)="register()" [formGroup]="userForm">
  <div>
  <label>Username</label>
  <input formControlName="username">
  <label>Password</label>
  <input type="password" formControlName="password">
  <label>Email</label>
  <input type="email" formControlName="email">
  <p>{{ emailCtrl.errors.alreadyUsed }}</p>
  <div *ngIf="emailCtrl.hasError('alreadyUsed')">
    <small style="color: red">This email is already used!</small>
  </div>
</div>
  <button type="submit" [disabled]="!userForm.valid">Register</button>
</form>
