<form (ngSubmit)="send()" #f="ngForm">
    <input name="lastName" [(ngModel)]="user.lastName">

  <input name="firstName" [(ngModel)]="user.firstName">
  <button type="submit">valider</button>
</form>
<div *ngIf="user.lastName === 'M'; else elseBlock">
  <span> Moment </span>
</div>
<ng-template #elseBlock>
  <span> No Moment</span>
</ng-template>