<h2>Add User</h2>
<form (ngSubmit)="addUser(userForm)" #userForm="ngForm">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" placeholder="nom" 
    #lastName="ngModel" required pattern="[a-zA-Z ]*$">
    {{ user.lastName }}
    <div *ngIf="lastName.dirty && lastName.hasError('required')">
      <small style="color: red">Last name is required</small>
    </div>
    <div *ngIf="lastName.dirty && lastName.invalid">
      <small style="color: red">Last name accepts alphabets only</small>
    </div>
  </div>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" placeholder="prénom"
      #firstName="ngModel" required pattern="[a-zA-Z ]*$">
    <div *ngIf="firstName.dirty && firstName.hasError('required')">
      <small style="color: red">First name is required</small>
    </div>
    <div *ngIf="firstName.dirty && firstName.invalid">
      <small style="color: red">First name accepts alphabets only</small>
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" #emailInput="ngModel"
           [(ngModel)]="user.email" minlength="5" required maxlength="100" email>

    <div *ngIf="emailInput.dirty && emailInput.invalid">
        <small class="form-text text-danger"
           *ngIf="emailInput.hasError('required')">
            This field is required.
        </small>

        <small class="form-text text-danger"
           *ngIf="emailInput.hasError('maxlength')" translateValues="{max: 100}">
            This field cannot be longer than 100 characters.
        </small>

        <small class="form-text text-danger"
           *ngIf="emailInput.hasError('minlength')"translateValues="{min: 5}">
            This field is required to be at least 5 characters.
        </small>

        <small class="form-text text-danger"
           *ngIf="emailInput.hasError('email')" >
            Your email is invalid.
         </small>
    </div>
</div>
  <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Ajouter</button>
</form>